repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-yaml
      exclude: inputs
    - id: end-of-file-fixer
      exclude: inputs
    - id: trailing-whitespace
      exclude: inputs
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
    - id: black
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
